@media screen and (max-width:1075px) {
     .content_left {
          max-width: 600px !important;
          width: 100%;
     }

     .covid_banner {
          display: flex;
          justify-content: center;
     }

     .covid {
          width: 150px !important;
     }

     .covid2 {
          width: 150px !important;
     }

     .humburger {
          width: 200px;
          height: 30px;
          /* background-color: orange; */
          position: relative;
          display: none;

          #menu__toggle {
               opacity: 0;
          }

          #menu__toggle:checked+.menu__btn>span {
               transform: rotate(45deg);
          }

          #menu__toggle:checked+.menu__btn>span::before {
               top: 0;
               transform: rotate(0deg);
          }

          #menu__toggle:checked+.menu__btn>span::after {
               top: 0;
               /* left: 0; */
               transform: rotate(90deg);
          }

          #menu__toggle:checked~.menu__box {
               left: 0 !important;
          }

          .menu__btn {
               position: absolute;
               top: 0px;

               right: 0px;
               width: 26px;
               height: 26px;
               cursor: pointer;
               z-index: 2;
          }

          .menu__btn>span,
          .menu__btn>span::before,
          .menu__btn>span::after {
               display: block;
               position: absolute;
               width: 100%;
               height: 2px;
               background-color: #616161;
               transition-duration: .25s;
          }

          .menu__btn>span::before {
               content: '';
               top: -8px;
          }

          .menu__btn>span::after {
               content: '';
               top: 8px;
          }

          .menu__box {
               display: block;
               position: absolute;
               top: -80px !important;
               /* left: 800px !important; */
               width: 1000px !important;
               /* height: 800px !important; */
               margin: 80px 0px;
               display: flex;
               align-items: start;
               z-index: 1;

               padding: 50px 30px !important;
               list-style: none;
               /* background-color: red; */
               background-color: #ECEFF1 !important;
               box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
               transition-duration: .25s;


          }

          .menu__item {
               display: block;
               padding: 12px 24px;
               color: #333;
               font-family: 'Roboto', sans-serif;
               font-size: 20px;
               font-weight: 600;
               text-decoration: none;
               transition-duration: .25s;
          }

          .menu__item:hover {
               background-color: #CFD8DC;
          }
     }
}

@media screen and (max-width: 1000px) {
     .header_left {
          max-width: 400px !important;
          width: 100%;
     }

     .header_moniy {
          display: none;
     }

     .header_navlink {
          display: none;
     }

     .covid_banner {
          display: flex;
          gap: 10px;

          .covid {
               width: 700px;
          }

          .covid2 {
               width: 600px;
          }

          .line {
               height: 30px !important;
               /* background-color: green; */
          }
     }

     .footer_top {
          display: flex;
          gap: 20px;
     }

     .content_left {
          max-width: 600px !important;
          width: 100%;
          height: auto;

          /* background-color: red; */
          .cont {
               display: flex;
               flex-wrap: wrap;

               .contimg {
                    width: 90%;
               }
          }

          .cont-info {
               max-width: 600px;
               width: 100%;
               /* background-color: green; */
               display: flex;
               flex-wrap: wrap;
          }
          .header_nav{
               display: flex;
               justify-content: center;
          }
     }

     .content_right {
          max-width: 250px;
          width: 100%;
          /* background-color: orange !important; */
     }

}

@media screen and (max-width: 850px) {
.humburger{
     display: block !important;
}
}

@media screen and (max-width: 880px) {
     .cards {
          display: flex;
          justify-content: center !important;
     }

     .content {
          display: flex;
          justify-content: center !important;

          .cont>img {
               max-width: 500px;
               width: 100%;
               width: 100%;
               height: 300px;
          }
     }

     .content_left {
          width: 600px;
          height: 500px;
          /* background-color: orange; */
          padding: 0px 20px;
     }
}

@media screen and (max-width: 700px) {
     .humburger {
          width: 200px;
          height: 30px;
          /* background-color: orange; */
          position: relative;
          display: block !important;

          #menu__toggle {
               opacity: 0;
          }

          #menu__toggle:checked+.menu__btn>span {
               transform: rotate(45deg);
          }

          #menu__toggle:checked+.menu__btn>span::before {
               top: 0;
               transform: rotate(0deg);
          }

          #menu__toggle:checked+.menu__btn>span::after {
               top: 0;
               left: 0;
               transform: rotate(90deg);
          }

          #menu__toggle:checked~.menu__box {
               right: 0 !important;
          }

          .menu__btn {
               position: absolute;
               top: 0px;

               right: 10px !important;
               width: 26px;
               height: 26px;
               cursor: pointer;
               z-index: 2;
          }

          .menu__btn>span,
          .menu__btn>span::before,
          .menu__btn>span::after {
               display: block;
               position: absolute;
               width: 100%;
               height: 2px;
               background-color: #616161;
               transition-duration: .25s;
          }

          .menu__btn>span::before {
               content: '';
               top: -8px;
          }

          .menu__btn>span::after {
               content: '';
               top: 8px;
          }

          .menu__box {
               display: block;
               position: absolute;
               top: -110px !important;
               left: 800px !important;
               width: 1200px !important;
               height: 100vh !important;
               /* margin: 0; */

               z-index: 1;

               padding: 50px 0;
               list-style: none;
               /* background-color: red; */
               background-color: #ECEFF1 !important;
               box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
               transition-duration: .25s;


          }

          .menu__item {
               display: block;
               padding: 12px 24px;
               color: #333;
               font-family: 'Roboto', sans-serif;
               font-size: 20px;
               font-weight: 600;
               text-decoration: none;
               transition-duration: .25s;
          }

          .menu__item:hover {
               background-color: #CFD8DC;
          }
     }
}